.quiz {
  font-family: Arial, sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
}

.quiz-score {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.quiz-question {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.quiz-answer-options {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.quiz-answer-option {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.quiz-answer-option:hover {
  background-color: #ccc;
}

.quiz-answer-option.correct {
  border-color: #0f0;
  background-color: #cfc;
}

.quiz-answer-option.incorrect {
  border-color: #f00;
  background-color: #fdd;
}
